{% extends "base.html" %}

{% block title %} Kontakt {% endblock title %}

{% block content %}
<div class="contact-container">
    <h1>Kontaktní informace</h1>
    
    <p class="contact-intro">
        Potřebujete poradit s bonusovým programem nebo máte jiný dotaz? Neváhejte nás kontaktovat.
    </p>
    
    <div class="contact-table-container">
        <table class="contact-table">
            <tbody>
                <tr>
                    <th>Technická podpora:</th>
                    <td><a href="mailto:{{ support_email }}">{{ support_email }}</a></td>
                </tr>
                <tr>
                    <th>Společnost:</th>
                    <td>{{ company_name }}</td>
                </tr>
                <tr>
                    <th>Adresa:</th>
                    <td>{{ company_street }}, {{ company_zip }} {{ company_city }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}