{% extends "base.html" %}

{% block title %} Kontakt {% endblock title %}

{% block content %}
<div class="contact-container">
    <h1>Dane kontaktowe</h1>
    
    <p class="contact-intro">
        Potrzebujesz porady dotyczącej programu bonusowego lub masz inne pytanie? Skontaktuj się z nami.
    </p>
    
    <div class="contact-table-container">
        <table class="contact-table">
            <tbody>
                <tr>
                    <th>Wsparcie techniczne:</th>
                    <td><a href="mailto:{{ support_email }}">{{ support_email }}</a></td>
                </tr>
                <tr>
                    <th>Firma:</th>
                    <td>{{ company_name }}</td>
                </tr>
                <tr>
                    <th>Adres:</th>
                    <td>{{ company_street }}, {{ company_zip }} {{ company_city }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}