{% extends "base.html" %}
{% load pa_bonus_extras %}

{% block title %} Szczegóły transakcji {% endblock title %}

{% block content %}
<div class="transaction-detail-container">
    <h2>Szczegóły transakcji punktowych</h2>
    
    <div class="transaction-info">
        <p><strong>Data:</strong> {{ transaction.date|czech_date }}</p>
        
        {% if transaction.brand %}
        <p><strong>Ocena:</strong> {{ transaction.brand.name }}</p>
        {% endif %}
        
        <p><strong>Zwrotnica:</strong> <span class="value {% if transaction.value < 0 %}negative{% else %}positive{% endif %}">{{ transaction.value }} pkt</span></p>
        
        <p><strong>Typ:</strong> 
            {% if transaction.type == 'STANDARD_POINTS' %}
                Standardowe naliczenie punktów
            {% elif transaction.type == 'REWARD_CLAIM' %}
                <a href="{% url 'rewards_request_detail' transaction.reward_request.id %}">Wniosek o nagrodę</a>
            {% elif transaction.type == 'CREDIT_NOTE_ADJUST' %}
                Korekta faktury korygującej
            {% elif transaction.type == 'ADJUSTMENT' %}
                Korekta ręczna
            {% else %}
                {{ transaction.get_type_display }}
            {% endif %}
        </p>
        {% if transaction.type == 'REWARD_CLAIM' %}
        <div class="intro-text">
            <p>Status <span class="status-badge confirmed">Potwierdzony</span> znacza, że zablokowaliśmy punkty,
                 ale samo żądanie wypłaty może nadal oczekiwać na przetworzenie. <a href="{% url 'rewards_request_detail' transaction.reward_request.id %}">Szczegóły znajdziesz tutaj.</a>
            </p>
        </div>
        {% endif %}

        
        <p><strong>Stav:</strong>
            <span class="status-badge {{ transaction.status|lower }}">
                {% if transaction.status == 'PENDING' %}
                    Oczekuje na potwierdzenie
                {% elif transaction.status == 'CONFIRMED' %}
                    Potwierdzone
                {% elif transaction.status == 'CANCELLED' %}
                    Anulowane
                {% elif transaction.status == 'NO-CONTRACT' %}
                    Transakcja bez umowy
                {% else %}
                    {{ transaction.get_status_display }}
                {% endif %}
            </span>
        </p>
        
        <p><strong>Opis::</strong> {{ transaction.description }}</p>
        
        {% if transaction.invoice %}
        <p><strong>Faktura:</strong> {{ transaction.invoice.invoice_number }} ({{ transaction.invoice.invoice_date|czech_date }})</p>
        {% endif %}
    </div>
    <a href="{% url 'history' %}" class="back-link">Powrót do listy transakcji</a>
</div>
{% endblock %}