{% load static %}
<footer class="site-footer">
    <div class="footer-content">
        <div class="footer-info">
            <p>&copy; {{ current_year }} Primavera Andorrana. Wszelkie prawa zastrzeżone.</p>
        </div>
        <div class="footer-links">
            <a href="{% url 'home_redirect' %}">Strona główna</a>
            <a href="{% url 'public_catalogue' %}">Katalog nagród</a>
            <a href="{% url 'privacy_policy' %}">Polityka prywatności</a>
            <a href="{% url 'contact' %}">Dane kontaktowe</a>
            {% if user.is_staff %}
                <a href="{% url 'admin:index' %}">Admin Panel</a>
            {% endif %}
            {% if user.groups.all.0.name == 'Managers' %}
                <a href="{% url 'manager_dashboard' %}">Manager Dashboard</a>
            {% endif %}
            {% if user.groups.all.0.name == 'Sales Reps' %}
                <a href="{% url 'salesrep_dashboard' %}">Sales Rep Dashboard</a>
            {% endif %}
        </div>
    </div>
</footer>